{% extends "base.html.twig" %}

{% block body %}
    <div class="wrapper">

        {% embed 'cms/sidebar.html.twig' %}
        {% endembed %}

        <!-- Page Content -->
        <div id="content">
            {{ page.content | raw }}
        </div>

    </div>
{% endblock %}

{% block footer %}
    <svg display="none">
        {# arrow down #}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="arrowDown" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
        </svg>
        {# arrow up #}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="arrowUp" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        {# paragraph #}
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" id="paragraphCreator" class="bi bi-paragraph" viewBox="0 0 16 16">
            <path d="M10.5 15a.5.5 0 0 1-.5-.5V2H9v12.5a.5.5 0 0 1-1 0V9H7a4 4 0 1 1 0-8h5.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-.5.5z"/>
        </svg>
        {# image #}
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" id="imageCreator" class="bi bi-images" viewBox="0 0 16 16">
            <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
            <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
        </svg>
        {# three dots #}
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" id="threeUselessDots" class="bi bi-three-dots" viewBox="0 0 16 16">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
    </svg>
    <script defer type="text/javascript" src="{{ asset('js/cms.js') }}"></script>
    <style>
        body{
            width: calc(100% - 250px - 310px);
            overflow-y: hidden;
            overflow-x: hidden;
        }
    </style>
{% endblock %}